.col-centered{
    float: none;
    margin: 0 auto;
}

textarea { resize: vertical; }

.alert.ng-enter, main.ng-enter {
  transition:0.25s linear all;
  opacity:0;
}

.alert.ng-enter-active, main.ng-enter.ng-enter-active {
  opacity:1;
}

.alert.ng-leave {
  transition:0.25s linear all;
  opacity:1;
}
.alert.ng-leave.ng-leave-active {
  opacity:0;
}

div {
  word-wrap: break-word;
}
.challenge-footer {
  display: flex;
  justify-content: space-between;
}

a > .panel-heading {
  background-color: #f5f5f5;
}

.dynamic-grid {
  position: relative;
  display: none;
}
.dynamic-grid.angular-grid {
  display: block;
}
.grid {
  position: absolute;
  list-style: none;
  background: #ffffff;;
  box-sizing: border-box;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  overflow: hidden;
  border-radius: 10px;
}
.grid.ng-leave {
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
.grid.ng-leave.ng-leave-active {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}
.grid.ng-enter {
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
  -webkit-transform: scale(0.5);
   transform: scale(0.5);
  opacity: 0;
}
.grid.ng-enter.ng-enter-active {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}