<!DOCTYPE>
<html ng-app="meanStoreManagementSystem">

<head>
  <base href="/">
  <title>Store Management System</title>
  <!-- supply meta tags -->
  <!-- cdn -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
  <script 
    src="https://code.jquery.com/jquery-3.1.1.slim.min.js" 
    integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/css.css">

  <!-- local -->
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/services/userService.js"></script>
  <script type="text/javascript" src="/js/services/popupService.js"></script>
  <script type="text/javascript" src="/js/controllers/homeController.js"></script>
  <script type="text/javascript" src="/js/controllers/usersController.js"></script>
  <script type="text/javascript" src="/js/controllers/popupsController.js"></script>
</head>

<body>
  <header ng-include="'views/navbar.html'"></header>
  <main ng-view></main>
</body>

</html>