<!DOCTYPE>
<html ng-app="meanStoreManagementSystem">
    <head>
        <title>Store Management System</title>
        <!-- supply meta tags -->        
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
        
        <script type="text/javascript" src="/js/app.js"></script>
        <script type="text/javascript" src="/js/controllers/homeController.js"></script>

    </head>
    <body>
        <main ng-view></main>
    </body>
</html>