<div class="container-fluid col-centered">
    <div ng-if="currentChallenge" class="panel panel-default">
        <div class="panel-heading">
            <h4>{{currentChallenge.name}}</h4>
        </div>
        <div class="panel-body">
            <p>{{currentChallenge.description}}</p>
        </div>
        <div class="panel-body">
            <span>by: <a href="/users/{{currentChallenge.author}}">{{currentChallenge.author}}</a></span>
            <span style="float:right;">{{currentChallenge.dateCreated | date: 'HH:mm, MMM d, y'}}</span>
        </div>
        <div class="panel-footer">
            <span>{{currentChallenge.participations}}</span>
            <span>{{currentChallenge.completedBy}}</span>
        </div>
        <div ng-controller="usersController">
            <button ng-if="user" ng-click="participate(currentChallenge)" class="btn btn-default" type="button">Participate</button>
        </div>

    </div>
    <span ng-if="err">{{err}}</span>
</div>