<div class="container-fluid col-lg-4 col-md-6 col-sm-8 col-xs-10 col-centered">
    <h3>Create a new challenge</h3>
    <form class="form-horizontal" ng-submit="create()" name="loginForm" novalidate>
        <div class="form-group">
            <div class="input-block-level">
                <input class="form-control" ng-model="challengeWannaBe.name" ng-required="true" type="text" name="name" placeholder="Enter a name">
            </div>
        </div>
        <div class="form-group">
            <div class="input-block-level">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">.../challenges/</span>
                    <input class="form-control" ng-model="challengeWannaBe.urlName" ng-required="true" type="text" name="urlName" placeholder="Enter a url name, example: my-new-challenge">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-block-level">
                <textarea class="form-control" ng-model="challengeWannaBe.description" ng-required="true" name="description"></textarea>
            </div>
        </div>
        <input class="btn btn-default" type="submit" value="Create!">
    </form>
</div>