<div ng-controller='challengesController' class="container container-fluid">
  <div infinite-scroll='nextPage()'>
    <ul angular-grid="challenges">
      <div ng-repeat="challenge in challenges" class="panel panel-default">
        <a href="{{'/challenges/' + challenge.urlName}}">
          <div class="panel-heading">
            <h4>{{challenge.name}}</h4>
          </div>
        </a>
        <div class="panel-body">{{mapToCorrectLength(challenge.description)}}</div>
        <div class="panel-body">
          <span>by: <a href="/users/{{challenge.author}}">{{challenge.author}}</a></span>
          <span style="float:right;">{{challenge.dateCreated | date: 'HH:mm, MMM d, y'}}</span>
          <hr>
        </div>
        <div>{{challenge.participations}}</div>
        <div>{{challenge.completedBy}}</div>
      </div>
    </ul>
  </div>
</div>