<div class="container-fluid col-centered">
    <div ng-if="currentChallenge" class="panel panel-default">
        <div class="panel-heading">
            <h4>{{currentChallenge.name}}</h4>
        </div>
        <div class="panel-body">
            <p>{{currentChallenge.description}}</p>
        </div>
        <div class="panel-body">
            <span>by: <a href="/users/{{currentChallenge.author}}">{{currentChallenge.author}}</a></span>
            <span style="float:right;">{{currentChallenge.dateCreated | date: 'HH:mm, MMM d, y'}}</span>
        </div>
        <div class="panel-footer" ng-controller="usersController">
            <button ng-if="user && !currentChallenge.hasParticipated" ng-click="participate(currentChallenge)" class="btn btn-default">Participate</button>
            <button ng-if="user && currentChallenge.hasParticipated" ng-click="unParticipate(currentChallenge)" class="btn btn-default">Cancel participation</button>
        </div>
        <div class="panel-footer">
            <div ng-if="currentChallenge.participations.length > 0">
                <h4>Participators: </h4>
                <span ng-repeat="p in currentChallenge.participations | filter:{active: true} as filtered">
                    <a href="/users/{{p.user}}">{{p.user}}</a>
                </span>
            </div>
            <div ng-if="currentChallenge.completedBy.length > 0">
                <h4>completed by:</h4>
                <span ng-repeat="c in currentChallenge.completedBy">
                    <a href="/users/{{c.user}}">{{c.user}}</a>
                </span>
            </div>
        </div>
    </div>
    <span ng-if="err">{{err}}</span>
</div>