<div ng-controller='challengesController' class="container container-fluid">
  <div infinite-scroll='nextPage()'>
    <ul angular-grid="challenges" class="dynamic-grid">
      <div ng-repeat="challenge in challenges" class="panel panel-default grid">
        <a href="{{'/challenges/' + challenge.urlName}}">
          <div class="panel-heading">
            <h4>{{challenge.name}}</h4>
          </div>
        </a>
        <div class="panel-body">{{mapToCorrectLength(challenge.description)}}</div>
        <div class="panel-body">
          <span>by: <a href="/users/{{challenge.author}}">{{challenge.author}}</a></span>
          <span style="float:right;">{{challenge.dateCreated | date: 'HH:mm, MMM d, y'}}</span>
        </div>
        <div class="panel-footer challenge-footer">
          <span class="glyphicon glyphicon-eye-open"> {{challenge.views}}</span>
          <span class="glyphicon glyphicon-edit"> {{challenge.participations}}</span>
          <span class="glyphicon glyphicon-check"> {{challenge.completedBy}}</span>
        </div>
      </div>
    </ul>
  </div>
</div>