<div class="container-fluid col-lg-4 col-md-6 col-sm-8 col-xs-10 col-centered">
    <h3>Login</h3>
    <form class="form-horizontal" ng-submit="login()" name="loginForm" novalidate>
        <div class="form-group">
            <input class="form-control" ng-model="userWannaBe.username" ng-required="true" type="text" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <input class="form-control" ng-model="userWannaBe.password" ng-required="true" type="password" name="password" placeholder="Enter password">
        </div>
        <input ng-disabled="loginForm.$invalid" class="btn btn-default" type="submit" value="Login!">
    </form>
</div>